.slider {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    &__title {
        align-self: center;
    }

    &__items {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    &-button__left,
    &-button__right,
    &-button__right-mobile {
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        border: none;
        background: #fff;
    }

    &-button__left {
        top: 50px;
        left: 88px;
    }

    &-button__right {
        top: 50px;
        right: 150px;
    }

    &-button__right-mobile {
        opacity: 0;
        top: 54px;
    }

    &-pagination {
        display: flex;
        justify-content: space-between;
        width: 143px;

        &_flex {
            align-self: center;
        }

        &__circle {
            width: 11px;
            height: 11px;
            border-radius: 50%;
        }

        &_first {
            background: #828282;
        }

        &_second {
            background: #979595;
        }

        &_third {
            background: #b2b0b0;
        }

        &_fouth {
            background: #cdcbcb;
        }

        &_fifth {
            background: #e2e1e1;
        }

        &_sixth {
            background: #eee;
        }

        &_seventh {
            background: #f7f7f7;
        }
    }
}

.dHYvmX,
.jGhWKc {
    box-sizing: inherit !important;
    width: 47px !important;
    height: 47px !important;
    font-size: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px, rgba(0, 0, 0, 0.25) 0px 10px 10px !important;
    border-radius: 50% !important;
    border: 1px solid rgb(3, 169, 244) !important;
    margin-top: -30px !important;

    @media (min-width: 2000px) {
        width: 100px !important;
        height: 100px !important;
        margin-top: -45px !important;
    }
}

.jGhWKc {
    @media (max-width: 500px) {
        top: inherit !important;
        bottom: -30px !important;
        left: 43% !important;
    }
    
    &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 2px solid #03A9F4;
        border-left: 2px solid #03A9F4;
        position: absolute;
        transform: rotate(315deg);
        top: 17px;
        right: 17px;
    
        @media (min-width: 2000px) {
            width: 25px;
            height: 25px;
            border-top: 4px solid #03A9F4;
            border-left: 4px solid #03A9F4;
            top: 38%;
            right: 33%;
        }
    }
}

.dHYvmX {
    @media (max-width: 500px) {
        top: inherit !important;
        bottom: -30px !important;
        right: 37% !important;
    }

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 2px solid #03A9F4;
        border-left: 2px solid #03A9F4;
        position: absolute;
        transform: rotate(135deg);
        top: 17px;
        left: 15px;
    
        @media (min-width: 2000px) {
            width: 25px;
            height: 25px;
            border-top: 4px solid #03A9F4;
            border-left: 4px solid #03A9F4;
            top: 38%;
            left: 32%;
        }
    }
}

@media (max-width: 1350px) {
    .items {
        &__second-slide {
            display: none;
        }
    }
}

@media (max-width: 1037px) {
    .items {
        &__first-slide {
            display: none;
        }
    }
}

@media (max-width: 720px) {
    .slider {
        &-button__left,
        &-button__right {
            display: none;
        }

        &-button__right-mobile {
            opacity: 1;
        }

        &__items {
            justify-content: center;
        }
    }

    .items {
        &__side-slide {
            display: none;
        }
    }
}

@media (max-width: 450px) {
    .slider {
        &-button__right-mobile {
            right: 55px;
        }
    }
}
