.footer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    padding: 50px 162px 54px;
    background-color: #00adee;

    &__menu {
        width: 420px;
        display: flex;
        justify-content: space-between;
    }
}

.menu-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.messengers {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1042px) {
    .footer {
        flex-direction: column;

        &__logo {
            margin-bottom: 11px;
        }

        &__menu {
            padding-left: 0;

            &:nth-child(2) {
                order: 2;
           }
        }
    }

    .messengers {
        margin-bottom: 34px;
    }
}

@media (max-width: 980px) {
    .footer {
        padding: 50px 100px 54px;

        &__menu {
            max-width: 420px;
            width: auto;
        }
    }
}

@media (max-width: 540px) {
    .footer {
        padding: 42px 50px 54px;
    }
}

@media (max-width: 450px) {
    .footer {
        padding: 42px 50px 45px;

        &__menu {
            flex-direction: column;
        }
    }

    .menu {
        &-item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 390px) {
    .footer {
        padding: 42px 20px 45px;
    }
}
