@import "utils";
@import "fonts";
@import "typography";

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Lato, serif;
  margin: 0;
}
