@import "utils";
@import "fonts";
@import "typography";

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Lato, serif;
  margin: 0;
  padding-bottom: 157px;

  @media (max-width: 1042px) {
    padding-bottom: 265px;
  }

  @media (max-width: 540px) {
    padding-bottom: 255px;
  }

  @media (max-width: 450px) {
    padding-bottom: 340px;
  }
}
