.what-it {
    display: grid;
    grid-template-columns: 60% 40%;

    &__left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        left: 2px;

        background-size: cover;
        background-repeat: no-repeat;
        background: linear-gradient(270deg, #fff 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);

        &-wrapper {
            left: -2px;
            position: relative;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../../../../images/what.svg);
        }
    }

    &__right {
        align-self: flex-end;
    }
}

.pictures {
  display: flex;
  flex-direction: column;

  &__picture-second {
    margin-bottom: 20px;
  }

  &__picture-first {
    width: 100%;
    max-width: 360px;
    height: 218.06px;
    position: relative;

    z-index: 1;

    background: #fff;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }

  &__picture-second {
    width: 100%;
    max-width: 360px;
    height: 218.06px;
    position: relative;

    transform: translate(50px, -20px);
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../images/video.svg');
    border-radius: 4px;
  }
}

.picture-first {
  &__left {
    display: flex;
    justify-content: space-between;

    padding: 27px 17px 17px;
  }

  &__right-teams {
    align-self: center;
  }
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 17px 14px;

  background-color: #eee;
  border-radius: 4px;

  &-text {
    margin: 0;

    font-size: 19px;

    color: #4f4f4f;
  }
}

.form-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  .checkbox-item {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 42px;
      height: 22px;
      background-color: #979797;
      border-radius: 11px;
      transform: translate3d(2px,2px,0) scale3d(1,1,1);
      transition: all 0.25s linear;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 22px;
      height: 22px;
      background-color: #fff;
      border-radius: 11px;
      box-shadow: 0 2px 2px rgba(0,0,0,0.24);
      transform: translate3d(2px,2px,0);
      transition: all 0.2s ease-in-out;
    }
  }

  &:active {
    .checkbox-item::after {
      width: 28px;
      transform: translate3d(2px,2px,0);
    }

    .checkbox {
      &:checked + .checkbox-item::after {
        transform: translate3d(16px,2px,0);
      }
    }
  }

  .checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked + .checkbox-item {
      background-color: #4BD763;

      &::before {
        transform: translate3d(18px,2px,0) scale3d(0,0,0);
      }

      &::after {
        transform: translate3d(22px,2px,0);
      }
    }
  }
}

.text {
  &-day {
    color: #4f4f4f;
    font-size: 17px;

    margin: 0;
  }

  &-teams {
    font-size: 18px;
    color: #000;
  }

  &-type {
    font-size: 16px;   
    color: #000000;

    margin: 4px auto;
  }
}

.teams {

  &-logo {
    position: relative;
  }

  img:nth-of-type(2) {
    transform: translateX(-13px);
    z-index: 1;
  }
}

@media (max-width: 900px) {
    .what-it {
        display: flex;
        flex-direction: column-reverse;

        &__left {
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #fff 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);

            &-wrapper {
                width: 100%;
                height: 60vh;
            }
        }
    }

    .pictures {
      justify-content: flex-end;
    }
}

@media (max-width: 540px) {
    .what-it {
        &__left {
             &-wrapper {
                height: 360px;
             }
        }

        &__right {
          margin-right: 0;
      }
    }

    .pictures {

      &__picture-first,
      &__picture-second {
        width: 247.21px;
        height: 149.58px;
      }
    }

    .picture-first {
      &__left {
        display: flex;
        justify-content: space-between;
    
        padding: 19px 11px 12px;
      }
    
      &__right-teams {
        align-self: center;
      }
    }
    
    .notification {  
      padding: 10px 11px 8px;
    
      &-text {
        font-size: 13px;
      }
    }

    .form-switch {
      .checkbox-item {
        width: 37px;
    
        &::before {
          width: 35px;
        }
      }
    
      &:active {
        .checkbox-item::after {
          width: 20px;
        }
    
        .checkbox {
          &:checked + .checkbox-item::after {
            transform: translate3d(16px,2px,0);
          }
        }
      }
    
      .checkbox {    
        &:checked + .checkbox-item {        
          &::after {
            transform: translate3d(13px,2px,0);
          }
        }
      }
    }
    

    .text {
      &-day,
      &-type {
        font-size: 11px;
      }
    
      &-teams {
        font-weight: 500;
        font-size: 12px;
      }
    }

    .teams {
      &-logo {
        width: 49px;
        height: 57px;
      }
    }
}

@media (max-width: 500px) {
    .what-it {
        &__left {
            &-wrapper {
                background-size: cover;
            }
        }
    }
}

@media (max-width: 390px) {
    .pictures {
      align-items: center;

      &__picture-first,
      &__picture-second {
        margin-right: 20px;
      }

      &__picture-second {
        transform: translate(30px, -30px);
      }
    }

    .section-title_h2 {
        text-align: center;
    }

    .section-more_what-indent {
        text-align: center;
    }
}
