.container {
    position: relative;
    background: #fff;
    z-index: 1;
}

.container-header {
    width: 1060px;
    margin: 63px 0 164px 163px;

    @media (max-width: 1065px) {
        .container-header {
            margin: 63px 0 164px 100px;
        }
    }

    @media (max-width: 540px) {
        max-width: 320px;
        margin: 33px 10px 70px 20px;
    }

    @media (max-width: 390px) {
        max-width: 280px;
    }
}

.container-what-it {
    max-width: 426px;
    align-self: center;

    margin: 133px 20px 117px 0;

    @media (max-width: 900px) {
        width: 70%;
        max-width: 100%;
        margin: 46px 20px 10px 20px;
    }

    @media (max-width: 540px) {
        max-width: 100%;
        width: 90%;
        align-self: flex-start;
    }
}

.container-started {
    max-width: 480px;
    margin-left: 162px;
    margin-right: 70px;

    position: relative;
    z-index: 3;

    @media (max-width: 1065px) {
        margin-right: 0;
    }

    @media (max-width: 850px) {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        background-color: #fff;
        position: relative;
        z-index: 4;
        overflow: hidden;
    }
}

.containre-slider {
    margin: 62px 0 44px 0;

    @media (max-width: 540px) {
        margin: 20px 0 44px 0;
    }
}
