.start-play {
    display: flex;

    &__left {
        width: 40%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url(../../../../images/start-play.svg);
    }
    
    &__right {
        width: 535px;
        margin: 105px 162px 98px 76px;
    }
}

@media (max-width: 600px) {  
    .start-play {
        flex-direction: column-reverse;
        align-items: center;

        &__left {
            display: block;
            width: 100%;
            height: 360px;
        }

        &__right {
            width: 80%;
            margin: 20px 0;
        }
    } 
}

@media (max-width: 516px) {  
    .start-play {
        &__left {
            height: 300px;
        }
    } 
}

@media (max-width: 430px) {  
    .start-play {
        &__left {
            height: 240px;
        }

        &__right {
            text-align: center;
        }
    } 
}